//@import 'tailwindcss';
@import '@payloadcms/ui/scss';
@tailwind utilities;

:root {
  --color-neutral-950: oklch(0.145 0 0);
  --color-neutral-800: oklch(0.269 0 0);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
}

button {
  cursor: pointer;
}

.debug {
  * {
    border: 1px solid cyan;
  }
}

.banner {
  display: flex;
  align-items: center;
  gap: 24px;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  img {
    height: 48px;
    width: auto;
  }
}

.posts-count-container {
  display: flex;
  flex-direction: column;

  a:has(button) {
    text-decoration: none;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .post-count-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .post-count-content {
    font-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    //grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(1fr, auto);
    //grid-template-rows: repeat(auto-fit, 1fr);
    //grid-template-rows: repeat(2, minmax(1fr, auto));
    gap: 1rem;
  }
}
